---
import Layout from "../layouts/Layout.astro";
import FullScreenPage from "../layouts/FullScreenPage.astro";
import IntroductionBox from "../components/managersPage/IntroductionBox.astro";
import { members } from "../components/managersPage/managersInfo";
---

<Layout>
<FullScreenPage>
    <div class="box-container">
    {
        Object.entries(members).map( ([k, { imageSrc, name, borned, introduction, lineAccountLink, role }]) => (
            <IntroductionBox 
                src={imageSrc}
                introducingWord={introduction}
                fullname={name}
                borned={borned}
                lineAccountLink={lineAccountLink}
                role={role}
            />
        ))
    }
    </div>
</FullScreenPage>
</Layout>

<style lang="scss">
    .box-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
</style>