---
import { Icon } from "astro-icon/components";
import formattedBirthdayString from "./formattedBirthdayString";
import type { RoleType, ImageFormats } from "./managersInfo";
import "./IntroductionBox.scss";

interface Props {
  images: ImageFormats,
  introducingWord: string,
  borned: [number, number, number],
  fullname: string,
  roles: Array<RoleType>,
  lineAccountLink: string,
}

const { images, introducingWord, borned, fullname, roles, lineAccountLink } = Astro.props;
const formattedBirthday = formattedBirthdayString(borned);
// https://cssgradient.io
const roleColor: { [key in typeof roles[number]]: string } = {
  "マネージャー": "#009ef3",
  "デベロッパー": "#8e26e5"
}
const sortedRoles = roles.sort();
const { avif, webp, jpeg } = images;
---

<div class="introduction-box">
  <div class="roles-container">
    { 
      sortedRoles.map(roleName => (
        <div class="role" style={`--role-color: ${roleColor[roleName]};`}>
          <span>{roleName}</span>
        </div>
      ))
    }
  </div>
  <span class="img-container">
    <figure class="img-wrapper">
      <picture>
        <source srcset={avif.src} type="image/avif">
        <source srcset={webp.src} type="image/webp">
        { /** Fallback image **/ }
        <img src={jpeg.src} alt="image">
      </picture>
    </figure>
  </span>
  <div class="content-wrapper">
    <div>
      <h4 class="japanese-custom-font">{fullname} ー {formattedBirthday}</h4>
      <h5 class="japanese-custom-font">{introducingWord}</h5>
    </div>
    <div class="icon-container">
      <a href={lineAccountLink} target="_blank">
        <Icon 
          name="hugeicons:line" 
          size={35}
        />
      </a>
    </div>
  </div>
</div>