---
import { Icon } from "astro-icon/components";
import formattedBirthdayString from "./formattedBirthdayString";
import type { RoleType } from "./managersInfo";
import "./IntroductionBox.scss";

interface Props {
  src: any,
  introducingWord: string,
  borned: [number, number, number],
  fullname: string,
  roles: Array<RoleType>,
  lineAccountLink: string,
}

const { src, introducingWord, borned, fullname, roles, lineAccountLink } = Astro.props;
const formattedBirthday = formattedBirthdayString(borned);
// https://cssgradient.io
const roleColor: { [key in typeof roles[number]]: string } = {
  "マネージャー": "#009ef3",
  "デベロッパー": "#8e26e5"
}
const sortedRoles = roles.sort();
---

<div class="introduction-box">
  <div class="roles-container">
    { 
      sortedRoles.map(roleName => (
        <div class="role" style={`--role-color: ${roleColor[roleName]};`}>
          <span>{roleName}</span>
        </div>
      ))
    }
  </div>
  <span class="img-container">
    <figure class="img-wrapper">
      <img src={src} alt="image">
    </figure>
  </span>
  <div class="content-wrapper">
    <div>
      <h4 class="japanese-custom-font">{fullname} ー {formattedBirthday}</h4>
      <h5 class="japanese-custom-font">{introducingWord}</h5>
    </div>
    <div class="icon-container">
      <a href={lineAccountLink} target="_blank">
        <Icon 
        name="hugeicons:line" 
        color="#00b009"
        size={35}
        />
      </a>
    </div>
  </div>
</div>